{% extends 'base.html' %}

{% block subtitle %}
  {{ gettext('My Profile') }}
{% endblock subtitle %}

{% block top_content %}
{% endblock %}

{% block main_content %}
<div class="row-fluid">
  <div class="">
    <div class="">
      <h2>
        {{ gettext('Student Profile for') }}
        {{ student.key().name() }}
      </h2>

      {% if student %}
      <table class="table table-bordered">
        <colgroup>
          <col width="20%">
          <col>
        </colgroup>
        <!--<tr>
          <th align="left">{{ gettext('Currently enrolled') }}</th>
          <td>{{ student.is_enrolled }}</td>
        </tr>-->
        <tr>
          <th align="left">{{ gettext('Date enrolled') }}</th>
          <td>{{ student.enrolled_on }}</td>
        </tr>
        <tr>
          <th align="left">{{ gettext('Email') }}</th>
          <td>{{ student.key().name() }}</td>
        </tr>
        <tr>
          <th align="left">{{ gettext('Name') }}</th>
          <td>{{ student.name }}</td>
        </tr>
        <tr>
          <th align="left">{{ gettext('Age') }}</th>
          <td>{{ student.age }}</td>
        </tr>
		<tr>
          <th align="left">{{ gettext('Badges') }}<br/>
		  <small><i>Complete las evaluaciones por encima del 80%</i></small></th>
		  <td>
		  <table class="table table-bordered"><tr class="">
		  {% for badge in student.badges %}
		  <td style="width:10%;text-align:center;"><img class="insignia" style="max-height:100px;" src="/assets/img/{{ badge }}.png"></img></td>
		  {% endfor %}
		  </tr><tr class="info">
		  {% for badgetitle in student.badgesTitle %}
		  <td style="width:10%;text-align:center;">{{ badgetitle }}</td>
		  {% endfor %}
		  
		  </tr></table>
		  </td>
          
        </tr>

        <tr>
          <th align="left" colspan=2>{{ gettext('Assessment scores') }}</th>
        </tr>

        {% for assessment in score_list %}
          <tr>
            <th align="left">&nbsp;&nbsp;&nbsp;{{ assessment['title'] }}</th>
            <td>
              {% if 'score' in assessment and assessment['score'] is defined %}
                <span id="assessment-score-{{assessment['title']}}">
				<div class="progress progress-default progress-striped">
									<div class="bar" style="width: {{ assessment['score'] }}%;"></div>
								</div></span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        {% if overall_score != None %}
          <tr>
            <th align="left">{{ gettext('Overall course score') }}</th>
            <td>
              <span id="assessment-score-overall" class="badge badge-info">{{ overall_score }}</span>
            </td>
          </tr>
        {% endif %}
      </table>

      <form action='student/editstudent' enctype="multipart/form-data" method='post'>
        <input type="hidden" name="xsrf_token" value="{{ student_edit_xsrf_token|escape }}">
        <h2><label for="name">{{ gettext('New Name') }}</label></h2>
        <fieldset style="border: none;">
		  
          <p><input name="name" id="name" type="text" size="40">
		  <h2><label for="name">{{ gettext('Nueva edad') }}</label></h2>
		  <p><input name="age" id="age" type="text" size="40">
		  <h2><label for="name">{{ gettext('Nuevo avatar') }}</label></h2>
		  <p><input type="file" name="img"/>
		  <input type="hidden" name="email" value="{{ student.key().name() }}"></p>
        </fieldset>
		
		<div><img src="img?img_id={{student.key().name()}}"></img></div>
        <p><button class="btn" type="submit">
          {{ gettext('Save Changes') }}
        </button> &nbsp;&nbsp;&nbsp;
          <a href="student/home" class="btn" role="button">
            {{ gettext('Cancel') }}
          </a>
        </p>
      </form>

      <h3>{{ gettext('To leave the course permanently, click on Unenroll') }}</h3>

      <p><a role="button" href="student/unenroll" class="btn btn-danger">
        {{ gettext('Unenroll') }}
      </a></p>

      {% else %}
      <p>Student profile not found ...</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

