{% extends 'base.html' %}

{% block navbar %}
<div class="row-fluid">
<!-- navbar bar -->
<div class="">
	<div class="">
<div class="navbar">

  <div class="navbar-inner">
  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
		<span class="brand">
		<img class"" src="{{course_info.institution.logo.url}}" alt="{{course_info.institution.logo.alt_text}}">
		{{course_info.base.nav_header}}
		
			
		</span>
	   <div class="nav-collapse collapse">
	     <ul class="nav">
      <li {% if navbar.announcements %}class='active'{% endif %}>
        <a href="announcements">
          {{ gettext('Announcements') }}
        </a>
      </li>
      <li {% if navbar.course %}class='active'{% endif %}>
        <a href="course">{{ gettext('Course') }}</a>
      </li>
      <li {% if navbar.registration %}class='active'{% endif %}>
        <a href="register">{{ gettext('Registration') }}</a>
      </li>
	   {% if course_info.base.show_gplus_button %}
		  <li>
            <a href="">
				  <span class="plusone-button" id="plusone-2">
					<g:plusone size="small"></g:plusone>
				  </span>
				
            </a>
          </li>
		  {% endif %}
	  </ul>
	  <ul class="nav pull-right">
      {% if is_super_admin %}
      <li class='pull-right'>
        <a href="/admin">Admin</a>
      </li>
      {% endif %}
      {% if is_course_admin %}
      <li class='pull-right'>
        <a href="dashboard">Dashboard</a>
      </li>
      {% endif %}
	  {% if loginUrl %}
		  <li>
		  <a href="{{ loginUrl }}">{{ gettext('Login') }}</a>
		  </li>
	  {% endif %}
	  </ul>
    </ul>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
