<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plataforma U-MOOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<!--<link href="assets/css/main.css" rel="stylesheet">-->
		
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>

	<!-- Modal Contacto -->
	<div id="myContact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Contacto</h3>
	  </div>
	  <div class="modal-body">
		<p>Por el momento y hasta que la plataforma vaya creciendo, puede ponerse en contacto con <br/><br/><i class="pull-right">esacosta at gmail point com</i></p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>
	
	<!-- Modal Información -->
	<div id="myInformation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myInformationLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myInformationLabel">Información</h3>
	  </div>
	  <div class="modal-body">
		<p>U-MOOC nace con la idea de crear una plataforma abierta y gratuita para que profesores y alumnos creen sus MOOC y aprendan a utilizar este nuevo paradigma educativo. Todo en esta plataforma va encaminado a la gratuidad de los contenidos, del código y de los avances en las herramientas e instrumentos de evaluación de las plataformas MOOC.<br/>Cualquier persona puede colaborar con la plataforma, realizando mejoras, encontrando errores, creando cursos, etc.<br/>Esta plataforma se encuentra en continuo crecimiento y aunque en un primer momento se crea para hispanohablantes se hace extensible a cualquiera que quiera colaborar con cursos en otros idiomas.</p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>
	
	<!-- Modal Información -->
	<div id="myPrivacy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myPrivacyLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myPrivacyLabel">Términos y condiciones</h3>
	  </div>
	  <div class="modal-body">
		<p>Usted se compromete a no reproducir, duplicar, copiar, vender, revender o explotar con algún propósito comercial cualquier parte de los servicios prestados de la plataforma o los cursos.
Para uso no comercial, puede hacer lo que desee con ello.
<br/>
<br/>
¡Recuerde referenciar siempre sus notas y publicaciones!.</p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>

    <!-- NAVBAR
    ================================================== -->
	<!-- Button to trigger modal -->

    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand">u-MOOC</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="">Inicio</a></li>
                <li><a href="#myContact" data-toggle="modal">Contacto</a></li>
				<li><a href="#myInformation" data-toggle="modal">Información</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Colaboradores<b class="caret"></b></a>
                  <ul class="dropdown-menu">
					<li><a>Google Inc.</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Soporte</li>
                    <li><a>course-builder</a></li>
                    <li><a>Google App Engine (GAE)</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
         
          <div class="container">
            <div class="">
              <h1>¿Cómo crear un MOOC?</h1>
              <p class="lead">Siguiendo este curso aprenderá a crear un MOOC a través de la nueva plataforma U-MOOC.</p>
              <a class="btn btn-large btn-primary" href="/preview">Comience ahora</a>
            </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="">
              <h1>Aprendiendo C++/CLI</h1>
              <p class="lead">Con este curso será capaz de desarrollar aplicaciones y WebServices para Windows Azure y .NET en lenguaje C++, utilizando el nuevo lenguaje C++/CLI preparado para el desarrollo de C++ en .NET.</p>
              <a class="btn btn-large btn-primary" href="/cpp_cli/preview">Comience ahora</a>
            </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="">
              <h1>Publique aquí su curso</h1>
              <p class="lead">Puede realizar su curso y publicarlo en esta plataforma de un modo completamente abierto y gratuito, pongase en contacto con nosotros y le ayudaremos a realizar y publicar su MOOC</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span4">
          <img class="img-polaroid" data-src="holder.js/140x140" src="assets/img/banner_cpp_cli.jpg">
          <h2>Aprendiendo C++/CLI</h2>
          <p>Con este curso será capaz de desarrollar aplicaciones y WebServices para Windows Azure y .NET en lenguaje C++, utilizando el nuevo lenguaje C++/CLI preparado para el desarrollo de C++ en .NET.
Este curso se encuentra en fase de desarrollo, por favor pruébelo y envíe toda la información que considere oportuna para su finalización o colabore con nosotros, esperamos haberlo terminado para finales del mes próximo..</p>
          <p><a class="btn" href="/cpp_cli/preview">Comience ahora &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-polaroid" data-src="holder.js/140x140" src="assets/img/banner1.jpg">
          <h2>¿Cómo crear un MOOC?</h2>
          <p>Siguiendo este curso aprenderá a crear un MOOC a través de la nueva plataforma U-MOOC.
Se trata de un experimento para el mundo de la educación online que contiene el software e instrucciones necesarias para crear lecciones, actividades para los estudiantes, evaluaciones, etc. Sin embargo la creación de estos cursos resulta algo tediosa para personas poco familiarizadas con Html, Javascript o Python.
Esperamos que este curso le sea útil para poder crear sus propios MOOC de una manera más fácil.</p>
          <p><a class="btn" href="/preview">Comience ahora &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-polaroid" data-src="holder.js/140x140" src="assets/img/appengine.png">
          <h2>Mi curso</h2>
          <p>Puede crear y publicar sus cursos en esta plataforma de un modo completamente gratuito, y con asistentes que le ayudarán a crearlo y publicarlo en u-mooc.</p>
          <p><a class="btn" href="#myContact" data-toggle="modal">Contacto &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
	  
      <hr class="featurette-divider">
	  
	  <div class="featurette">
        <img class="featurette-image pull-left" src="assets/img/responsive_web_design.png">
        <h2 class="featurette-heading">Desarrollo Web Responsable</h2>
        <p class="lead">La plataforma cumple con los requisitos para poder verse perfectamente y ser f&aacute;cil de usar en cualquier dispositivo.</p>
      </div>
	  
      <hr class="featurette-divider">

	  <div class="featurette">
        <img class="featurette-image pull-right" src="assets/img/wai.jpg">
        <h2 class="featurette-heading">Iniciativa para la Accesibilidad Web<span class="muted">&nbsp;&nbsp;WAI</span></h2>
        <p class="lead">Se trata de una rama del World Wide Web Consortium que vela por la accesibilidad de la Web. El grado de accesibilidad se establece en niveles denominados A, AA, y AAA, correspondiendo respectivamente a criterios mínimos de accesibilidad, extendidos, y accesibilidad máxima. Técnicamente la accesibilidad se implementa mediante pautas de lógica estructural de documentos, contenido auto-explicativo y semántica adicional, con la intención de permitir, a una audiencia lo más extensa posible de usuarios con distintos niveles de dotación tecnológica y capacidad sensorial, acceder a la información que se intenta representar y transmitir.</p>
      </div>
	  
	  <hr class="featurette-divider">
	  
      <div class="featurette">
        <img class="featurette-image pull-right" src="assets/img/browser-icon-chrome.png">
        <h2 class="featurette-heading">La plataforma es completamente compatible con su navegador habitual</h2>
        <p class="lead">Puede utilizar cualquiera de los navegadores disponibles en el mercado para seguir el curso en la plataforma, Firefox, Chrome, Safari, etc. Incluyendo los  navegadores disponibles en sus dispositivos móviles.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="">Ir al inicio</a></p>
        <p>&copy; 2013 u-mooc &middot; <a href="#myPrivacy" data-toggle="modal">Privacidad y condiciones</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="assets/js/holder/holder.js"></script>
  </body>
</html>
