<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plataforma U-MOOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<!--<link href="assets/css/main.css" rel="stylesheet">-->
		
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
<style>

    
    /* Featurettes
    ------------------------- */

    
    .featurette {
            overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    
    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

	.featurette
	{
		height: auto;
	}
    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
	.thumb
	{
		min-height: 550px;
	}
	.thumb img
	{
		max-height: 100px;
	}
	.thumb p
	{
		max-height: 250px;
	}
	
	

    </style>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
<div class="container">

	<!-- Modal Contacto -->
	<div id="myContact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Contacto</h3>
	  </div>
	  <div class="modal-body">
		<p>Por el momento y hasta que la plataforma vaya creciendo, puede ponerse en contacto con <br/><br/><i class="pull-right">esacosta at gmail point com</i></p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>
	
	<!-- Modal Información -->
	<div id="myInformation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myInformationLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myInformationLabel">Información</h3>
	  </div>
	  <div class="modal-body">
		<p >U-MOOC nace con la idea de crear una plataforma abierta y gratuita para que profesores y alumnos creen sus MOOC y aprendan a utilizar este nuevo paradigma educativo. Todo en esta plataforma va encaminado a la gratuidad de los contenidos, del código y de los avances en las herramientas e instrumentos de evaluación de las plataformas MOOC.<br/>Cualquier persona puede colaborar con la plataforma, realizando mejoras, encontrando errores, creando cursos, etc.<br/>Esta plataforma se encuentra en continuo crecimiento y aunque en un primer momento se crea para hispanohablantes se hace extensible a cualquiera que quiera colaborar con cursos en otros idiomas.</p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>
	
	<!-- Modal Información -->
	<div id="myPrivacy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myPrivacyLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myPrivacyLabel">Términos y condiciones</h3>
	  </div>
	  <div class="modal-body">
		<p>Usted se compromete a no reproducir, duplicar, copiar, vender, revender o explotar con algún propósito comercial cualquier parte de los servicios prestados de la plataforma o los cursos.
Para uso no comercial, puede hacer lo que desee con ello.
<br/>
<br/>
¡Recuerde referenciar siempre sus notas y publicaciones!.</p>
	  </div>
	  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
	  </div>
	</div>

    <!-- NAVBAR
    ================================================== -->
	<!-- Button to trigger modal -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      

        <div class="navbar">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand">u-MOOC</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="">Inicio</a></li>
				<li><a href="http://u-mooc.blogspot.com.es/" data-toggle="modal">Blog</a></li>
                <li><a href="#myContact" data-toggle="modal">Contacto</a></li>
				<li><a href="#myInformation" data-toggle="modal">Información</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Colaboradores<b class="caret"></b></a>
                  <ul class="dropdown-menu">
					<li><a href="http://www.google.es">Google Inc.</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Soporte</li>
                    <li><a href="https://code.google.com/p/course-builder/">course-builder</a></li>
                    <li><a href="https://developers.google.com/appengine/">Google App Engine (GAE)</a></li>
					<li><a href="http://www.python.org/">Python</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      
    </div><!-- /.navbar-wrapper -->

       
	<div class="row-fluid">
    
<h1>U-MOOC: Plataforma experimental para los cursos abiertos y masivos online</h1>
	<ul class="thumbnails">
	  <li class="span3">
		<div class="thumbnail">
		  <img data-src="holder.js/260x180" alt="" src="assets/img/banner_cpp_cli.jpg">
		  <div class="caption">
		  <h3>Aprendiendo C++/CLI</h3>
		  
		  <p>Con este curso será capaz de desarrollar aplicaciones y WebServices para Windows Azure y .NET en lenguaje C++, utilizando el nuevo lenguaje C++/CLI preparado para el desarrollo de C++ en .NET.
Este curso se encuentra en fase de desarrollo, por favor pruébelo y envíe toda la información que considere oportuna para su finalización o colabore con nosotros, esperamos haberlo terminado para finales del mes próximo.<br/></p>
			<a class="btn btn-primary span8 offset2" href="/cpp_cli/preview">Comience ahora &raquo;</a>
			</div>
		</div>
	  </li>
	  <li class="span3">
		<div class="thumbnail">
		  <img data-src="holder.js/260x180" alt="" src="assets/img/appinventor.jpg">
		  <div class="caption">
		  <h3>AppInventor: Crea aplicaciones para Android </h3>
		  <p>En este mini curso, de apenas unas pocas lecciones y que podrá realizar en unas pocas horas, aprenderá a programar aplicaciones para Android de un modo sencillo y sin escribir ni una línea de código.<br/></p>
			<a class="btn btn-primary span8 offset2" href="assets/html/appinventor.html">Comience ahora &raquo;</a>
		</div>
		</div>
	  </li>
	  <li class="span3">
		<div class="thumbnail">
		  <img data-src="holder.js/260x180" alt="" src="assets/img/u-mooc.png">
		  <div class="caption">
		  <h3>¿Cómo crear un MOOC?</h3>
		  <p>Siguiendo este curso aprenderá a crear un MOOC a través de la nueva plataforma U-MOOC.
Se trata de un experimento para el mundo de la educación online que contiene el software e instrucciones necesarias para crear lecciones, actividades para los estudiantes, evaluaciones, etc. Sin embargo la creación de estos cursos resulta algo tediosa para personas poco familiarizadas con Html, Javascript o Python.
Esperamos que este curso le sea útil para poder crear sus propios MOOC de una manera más fácil.<br/></p>
			<a class="btn btn-primary span8 offset2" href="/preview">Comience ahora &raquo;</a>
		</div>
		</div>
	  </li>
	  <li class="span3">
	  <div class="thumbnail">
		  <img data-src="holder.js/260x180" alt="" src="assets/img/uem.jpg">
		  <div class="caption">
		  <h3>Taller UEM X JIIU</h3>
		  <p>Pequeño tutorial de ejemplo para el taller "Aprende a crear una plataforma MOOC para tus propios cursos.<br/></p>
			<a class="btn btn-primary span8 offset2" href="/jiiu/preview" data-toggle="modal">Comience ahora</a>
		</div>
		</div>
	  </li>
	  <li class="span3">
		<div class="thumbnail">
		  <img data-src="holder.js/260x180" alt="" src="assets/img/appengine.png">
		   <div class="caption">
		  <h3>Mi curso</h3>
		  <p>Puede crear y publicar sus cursos en esta plataforma de un modo completamente gratuito, y con asistentes que le ayudarán a crearlo y publicarlo en u-mooc.<br/></p>
			<a class="btn btn-primary span8 offset2" href="#myContact" data-toggle="modal">Contacto &raquo;</a>
		</div>
		</div>
	  </li>
	</ul>

    </div><!-- /.row -->
     
<h1>Características de la plataforma</h1>
      <!-- START THE FEATURETTES -->
	  <hr class="featurette-divider">
	  
	  <div class="featurette">
        <img class="featurette-image pull-right img-polaroid" data-src="holder.js/60x60" src="assets/img/pp-preguntas-directo.jpg">
        <h2 class="featurette-heading">Moderador de preguntas</h2>
        <p class="lead">Los alumnos disponen de una nueva herramienta para votar y enviar preguntas y respuestas, que serán moderadas en las próximas clases en linea de los profesores del curso. Cuando se realiza una clase en línea es importante saber de antemano cuales son las preguntas mas frecuentes o las mas votadas por los alumnos.</p>
      </div>
	  
	  <hr class="featurette-divider">
	  
	  <div class="featurette">
        <img class="featurette-image pull-left img-polaroid" data-src="holder.js/60x60" src="assets/img/traducciones1.jpg">
        <h2 class="featurette-heading">Traducción automática a cualquier idioma</h2>
        <p class="lead">Gracias a las herramientas de Google Translator, la plataforma es ahora capaz de traducir los cursos a cualquier idioma. En el menú de opciones se encuentra una lista desplegable con los idiomas a los puede traducir los cursos.</p>
      </div>
	  
	  <hr class="featurette-divider">
	  
	  <div class="featurette">
        <img class="featurette-image pull-right img-polaroid" data-src="holder.js/260x180" style="height: 180px;" src="assets/img/PeerReview.jpg">
        <h2 class="featurette-heading">Evaluación por pares</h2>
        <p class="lead">Además de las preguntas tipo test con multiples opciones, los profesores disponen ahora de la nueva herramienta de evaluación por pares, para que los alumnos puedan evaluarse entre ellos, esta herramienta resulta prácticamente indispensable en un curso masivo online.</p>
      </div>
          
        
		 <hr class="featurette-divider">
	
            <div class="featurette">
        <img class="featurette-image pull-left img-polaroid" data-src="holder.js/260x180" style="height: 180px;" src="assets/img/responsive_web_design.png">
        <h2 class="featurette-heading">Desarrollo Web Responsable</h2>
        <p class="lead">La plataforma cumple con los requisitos para poder verse perfectamente y ser f&aacute;cil de usar en cualquier dispositivo.</p>
      </div>
          
		   <hr class="featurette-divider">
		  
            <div class="featurette">
        <img class="featurette-image pull-right img-polaroid" data-src="holder.js/260x180" style="height: 180px;" src="assets/img/browser-icon-chrome.png">
        <h2 class="featurette-heading">La plataforma es completamente compatible con su navegador habitual</h2>
        <p class="lead">Puede utilizar cualquiera de los navegadores disponibles en el mercado para seguir el curso en la plataforma, Firefox, Chrome, Safari, etc. Incluyendo los  navegadores disponibles en sus dispositivos móviles.</p>
      </div>
         
		   <hr class="featurette-divider">
		
            <div class="featurette">
        <img class="featurette-image pull-left img-polaroid" data-src="holder.js/60x60" style="width: 260px; height: 180px;" src="assets/img/wai.jpg">
        <h2 class="featurette-heading">Iniciativa para la Accesibilidad Web<span class="muted">&nbsp;&nbsp;WAI</span></h2>
        <p class="lead">Se trata de una rama del World Wide Web Consortium que vela por la accesibilidad de la Web. El grado de accesibilidad se establece en niveles denominados A, AA, y AAA, correspondiendo respectivamente a criterios mínimos de accesibilidad, extendidos, y accesibilidad máxima. Técnicamente la accesibilidad se implementa mediante pautas de lógica estructural de documentos, contenido auto-explicativo y semántica adicional, con la intención de permitir, a una audiencia lo más extensa posible de usuarios con distintos niveles de dotación tecnológica y capacidad sensorial, acceder a la información que se intenta representar y transmitir.</p>
      </div>
	
		   <hr class="featurette-divider">
		   
            <div class="featurette">
        <img class="featurette-image pull-right img-polaroid" data-src="holder.js/60x60" style="width: 260px; height: 180px;" src="assets/img/chat.jpg">
        <h2 class="featurette-heading">Chat entre los alumnos</h2>
        <p class="lead">Se ha agregado a la plataforma un chat online a través del cual los alumnos pueden estar en contacto unos con otros mientras visualizan un video, por ejemplo.
		Cabe la posibilidad también de preparar unos horarios con el dinamizador del curso de modo que este esté presente en el chat</p>
      </div>
	  
		   <hr class="featurette-divider">
		     
            <div class="featurette">
        <img class="featurette-image pull-left img-polaroid" data-src="holder.js/60x60" style="width: 260px; height: 180px;" src="assets/img/eportfolio.jpg">
        <h2 class="featurette-heading">EPorfolio</h2>
        <p class="lead">Se trata de una nueva característica de la plataforma que permite a los alumnos crear una wiki para el curso, colaborando entre si para generar una wiki común. La colaboración en este tipo de herramientas sociales puede proporcionar puntos</p>
      </div>
	  
		  
		  </div>
    

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="">Ir al inicio</a></p>
        <p>&copy; 2013 u-mooc &middot; <a href="#myPrivacy" data-toggle="modal">Privacidad y condiciones</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="assets/js/holder/holder.js"></script>
	</div>
  </body>
</html>
